@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    color: black;
}
body{
    padding: 0;
    margin: 0;
    
    background-color: white;
}

 #taxTitle {
    color: white;
    display: inline-block;
}

#calcTitle{
    color: white;
    display: inline;
}

#home a{
    color: white;
}

header{
    background-color: rgb(0, 152, 121);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: none;
    padding: 15px 2%;
}

nav ul li a {
    background-color: rgb(0, 152, 121);
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 5px;
    color: white;
}


.list{
    width: max-content;
    justify-content: center;
    padding: 0px 20px;
    position: relative;
    display: block;
    
}

#unorderedlist{
   display: flex;
   justify-content: center;
   margin-bottom: 0px;
}

.list a:hover{
    background-color: white;
    color: rgb(0, 152, 121);
    
    transition: 0.3s;
}


.carousel-caption p {
    color: white;
    margin-bottom: 80px;
}


.carousel-caption h1 span{
    color: rgb(0, 152, 121);
}

.carousel{
    width: 100%;
    height: 70vh;
}

.cardContainer{
    width: 100%;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    margin-top: 3.5rem ;
    display: flex;
    justify-content: space-evenly;
}

footer{
    
    height: 150px;
    background-color: rgb(0, 152, 121);
}

.contactUs{
    color: white;
    padding: 10px;
}

.contactUs h6 span ,i{
    color: white;
}

.copyright p{
    color: #fff; /* Text color for the footer */
    padding: 10px; /* Spacing inside the footer */
    text-align: center; /* Center-align text */
}

.card-body{
    background-color: white;
    border-radius: 10px;
}

.card{
    box-shadow: 7px 3px 10px rgb(198, 198, 198);
    border-radius: 10px;
}

#content{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    
    
}


.aboutPara{
    width: 65%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: rgb(197, 254, 218);
    border-radius: 10px;
}

.aboutImg-1{
    object-fit: cover;
    border-radius: 10px;
}

.btn {
    background-color: rgb(49, 146, 112)!important;
}